.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 500;
    width: 100%;
}

.site-navigation {
    padding: .625rem 0;
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    background-color: $color_secondary;
    
    ul {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 300px;
    }
}

.nav-icon img {
    margin: 0 auto;
    display: block;
    width: 1.75rem;
}

.nav-icon:hover img {
    @include icon-hover-effect(50%, $color_accent);
}