/* Modified the base styling from szhsin's React Accordion
* 
* source: https://szhsin.github.io/react-accordion/docs/headless-ui/styles
*/
@use "../abstracts/variables/breakpoints" as *;
@use "../abstracts/variables/colors" as *;

.chevron-down {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.szh-accordion {
    margin: 0 auto;
    border-bottom: 0.125rem solid $color_accent;

        &__item {
            border-top: 0.125rem solid $color_accent;

        &-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.75rem;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: left;
            text-transform: uppercase;
            color: $color_light;
            background-color: $color_secondary;
            border: none;
        }

        &-content {
            transition: height 0.25s cubic-bezier(0, 0, 0, 1);
        }

        &-panel {
            padding: .5rem 2rem;
            background-color: $color_light;
        }

        &--expanded {
            .szh-accordion__item-btn {
                color: $color_accent;
            }
            .chevron-down {
                transform: rotate(180deg);
            }
        }
    }

    @media screen and (min-width: $mq_breakpoint_medium) {
        width: 37.5rem;
    }

    @media screen and (min-width: $mq_breakpoint_large) {
        width: 52rem;
    }
}

.szh-accordion__item-content {
    transition: height 0.4s linear;
}