@use "../abstracts/variables/breakpoints" as *;

.cta-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $mq_breakpoint_large) {
        margin: 6rem 0 3rem;
    }
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $mq_breakpoint_medium) {
		flex-direction: row;
	}

    @media screen and (min-width: $mq_breakpoint_large) {
        margin-bottom: 3rem;
    }
}

