@use "../abstracts/variables/colors" as colors;

.logo {
    padding: .375rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: colors.$color_secondary;
}

.logo a,
.site-logo,
.site-logo:before,
.site-logo:after {
    width: 2.5rem;
    height: 2.5rem;
}

.logo a {
    margin: 0 auto;
    display: block;
    position: relative;
}

.site-logo,
.site-logo:before,
.site-logo:after {
    display: inline-block;
}

.site-logo:before {
    content: url('/src/assets/portfolio-logo-dark.svg');
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
}

.site-logo:after{
    border-radius: 50%;
    background-color: colors.$color_accent;
    content: url('/src/assets/portfolio-logo-light.svg');
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
}

.site-logo:hover:after {
    opacity: 1;
}

.site-logo:hover:before {
    opacity: 0;
}