@use "../abstracts/variables/breakpoints" as *;
@use "../abstracts/variables/colors" as *;

.logo {
    padding: .375rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color_secondary;

    a {
        margin: 0 auto;
        display: block;
        position: relative;

        @media screen and (min-width: $mq_breakpoint_large) {
            margin-left: 3rem;
        }
    }

    @media screen and (min-width: $mq_breakpoint_large) {
        position: static;
        width: auto;
        background-color: transparent;
    }
}

.logo a,
.site-logo,
.site-logo:before,
.site-logo:after {
    width: 2.5rem;
    height: 2.5rem;

    @media screen and (min-width: $mq_breakpoint_large) {
        width: 3rem;
        height: 3rem;
    }
}

.site-logo,
.site-logo:before,
.site-logo:after {
    display: inline-block;
}

.site-logo:before {
    content: var(--logo-default);
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
}

.site-logo:after{
    border-radius: 50%;
    background-color: $color_accent;
    content: var(--logo-hover);
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity .6s ease;
    -webkit-transition: opacity .6s ease;
}

.site-logo:hover:after {
    opacity: 1;
}

.site-logo:hover:before {
    opacity: 0;
}