@use "../abstracts/mixins/mixins" as mixins;
@use "../abstracts/variables/colors" as colors;

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 500;
    width: 100%;
}

.site-branding {
    border-bottom: 0.0625rem solid colors.$color_primary;
}

.site-navigation {
    border-top: 0.0625rem solid colors.$color_primary;
    padding: .25rem 0;
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    background-color: colors.$color_secondary;
    
    ul {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 300px;
    }
}

.nav-icon img {
    margin: 0 auto;
    width: 1.625rem;
}

.nav-icon:hover img {
    @include mixins.icon-hover-effect(50%, colors.$color_accent);
}