@use "../abstracts/variables/colors" as colors;

.projects-container {
    // margin: 4rem 0;
    // padding: 3rem 1rem;

    .project-item h2 {
        text-transform: none;
    }

    h3.subtitle {
        font-weight: 500;
    }

    .project-item {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}