@use "../abstracts/mixins/mixins" as *;
@use "../abstracts/variables/breakpoints" as *;
@use "../abstracts/variables/colors" as *;

.projects-container {
    .project-item {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-transform: none;
        }
    }

    .project-item h2,
    h3.subtitle {
        text-align: center;
    }

    h3.subtitle {
        font-weight: 500;
    }

    //Home page stylings
    &.featured-section {
        margin: 4rem 0;
        padding: 3rem 1.25rem;
        background-color: $color_secondary;
        color: $color_primary;
    
        h2:not(.project-item h2),
        article.project-item {
            @include stylish-border-bottom($color_accent);
        }
    
        .project-item h2,
        p {
            color: $color_light;
        }
    }

    //Projects page stylings
    &.projects-page {
        color: $color_secondary;
    
        h2:not(.project-item h2),
        article.project-item {
            @include stylish-border-bottom($color_secondary);
        }
    
        .project-item h2,
        p {
            color: $color_dark;
        }
    }

    @media screen and (min-width: $mq_breakpoint_large) {
        .project-item {
            display: grid;
            align-items: start;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "title title title"
                "subtitle subtitle subtitle"
                "featimage content content"
                "linkbtn content content"
                " . content content";

            h2 {
                grid-area: title;
            }

            h3.subtitle {
                grid-area: subtitle;
            }

            figure.featured-image {
                grid-area: featimage;
                margin: auto;
            }

            .project-content {
                grid-area: content;
            }

            a.link-btn {
                grid-area: linkbtn;
            }
        }
    }
}
