@use "../abstracts/mixins/mixins" as *;
@use "../abstracts/variables/colors" as *;

.projects-container {
    .project-item {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-transform: none;
        }
    }

    h3.subtitle {
        font-weight: 500;
    }

    //Home page stylings
    &.featured-section {
        margin: 4rem 0;
        padding: 3rem 1.25rem;
        background-color: $color_secondary;
        color: $color_primary;
    
        h2:not(.project-item h2),
        article.project-item:not(:last-of-type) {
            @include stylish-border-bottom($color_accent);
        }
    
        .project-item h2,
        p {
            color: $color_light;
        }
    }

    //Projects page stylings
    .projects-page {
        color: $color_secondary;
    
        h2:not(.project-item h2),
        article.project-item:not(:last-of-type) {
            @include stylish-border-bottom($color_secondary);
        }
    
        .project-item h2,
        p {
            color: $color_dark;
        }
    }
}