$color_primary: #B2CBAA; //rgb(178,203,170)
$color_secondary: #115440; //rgb(17,84,64)
$color_accent: #EAD0FB; //rgb(234,208,251)
$color_dark: #151A1D; //rgb(21,26,29)
$color_light: #FFFFFF; //rgb(255,255,255)

// $color__text-screen: #21759b;
// $color__text-input: #666;
// $color__text-input-focus: #111;
// $color__link: #1d4425; //dark green
// $color__link-visited: #532d5d; //aubergine
// $color__link-hover: #D87093; //palevioletred
// $color__text-main: #404040;