$font_heading: "Glory", "Franklin Gothic Medium", Tahoma, sans-serif;
$font_main: "Open Sans", "Lucida Sans", Geneva, Verdana, sans-serif;
$font_code: monaco, consolas, courier, monospace;
$font_line-height: 1.5;