@use "../../abstracts/variables/colors" as *;

html,
body,
#root {
    position: relative;
    z-index: 1;
}

body {
    background-color: $color_primary;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}