@use "../../abstracts/variables/colors" as *;

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    color: $color_light;
    font-weight: 600; //affects the thickness of the swiper-icon

    &:hover,
    &:active {
        color: $color_accent;
        transition: color .3s ease;
    }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    width: .625rem;
    height: .625rem;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: $color_light;
    opacity: .3;
}

.swiper-pagination-bullet-active {
    background-color: $color_accent;
}