footer {
    display: none;
}

@media screen and (min-width: $mq_breakpoint_medium) {
    footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 2rem;
        background-color: $color_secondary;
    }

    .social-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}