@use "../../abstracts/mixins/mixins" as *;
@use "../../abstracts/variables/breakpoints" as *;
@use "../../abstracts/variables/colors" as *;

.featured-image img {
    @include stylish-border($color_accent);
}

.featured-image__next-preview img {
    margin: .5rem auto 0;
    width: 12.5rem;
    height: auto;
}

.projects-page .featured-image img {
    @include stylish-border($color_secondary);
}

.swipe-container {
    margin: auto;
    overflow: hidden;
    background-color: $color_secondary;
    @include stylish-border($color_secondary);

    .swiper.swiper-initialized {
        padding: 0 1rem 1.5rem;
    }

    @media screen and (min-width: $mq_breakpoint_medium) {
        .swiper-wrapper {
            width: 150%;
        }
} 

    @media screen and (min-width: $mq_breakpoint_large) {
        width: 90%;
        height: auto;
    }

    .swiper-slide {
        text-align: center;

        img {
            margin: auto;
            display: block;
        }

        &-next,
        &-prev {
            opacity: .8;
        }
    }
}