@use "../../abstracts/mixins/mixins" as *;
@use "../../abstracts/variables/colors" as *;

.featured-image img {
    @include stylish-border($color_accent);
}

.featured-image__next-preview img {
    margin: .5rem auto 0;
    width: 12.5rem;
    height: auto;
}

.projects-page .featured-image img,
.carousel-image img {
    @include stylish-border($color_secondary);
}