@use "../../abstracts/variables/breakpoints" as *;

main {
    padding-top: 3.25rem; //=logo padding + img height

    @media screen and (min-width: $mq_breakpoint_large) {
        padding-top: 3.75rem;
    }

    @media screen and (min-width: $mq_breakpoint_xl) {
        margin: auto;
        width: 68rem;
    }
}