@use "../../abstracts/variables/breakpoints" as *;
@use "../../abstracts/variables/colors" as *;

section {
    margin: 1rem;
}

section.page-intro div {
    margin: 4rem 0;

    @media screen and (min-width: $mq_breakpoint_medium) {
        margin: 4rem 6rem;
    }

    @media screen and (min-width: $mq_breakpoint_large) {
        margin: 4rem 10rem 6rem;
    }
}

//Home page section stylings
.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;

    h1 {
        margin: 8rem 0 2rem;
    }

    p.hero-quote {
        margin-bottom: 10rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    a.down-arrow {
        position: absolute;
        bottom: 55%;
        width: 2.5rem;
    }

    .hero-intro {
        padding: 10rem 1.25rem 2.5rem;;
    }
}

@media screen and (min-width: $mq_breakpoint_medium) {
    .home-hero {
        min-height: 90vh;

        h1 {
            margin: 8rem 0 0;
        }

        p.hero-quote {
            margin-bottom: 1rem;
        }

        a.down-arrow {
            bottom: 6rem;
        }

        .hero-intro {
            padding: 6rem 0 2rem;
            width: 33rem;
        }

        .cta-container {
            margin: 1rem 0 3rem;
        }
    }
}

@media screen and (min-width: $mq_breakpoint_large) {
    .home-hero {
        min-height: 84vh;

        a.down-arrow {
            bottom: 0;
        }

        .hero-intro {
            padding: 4rem 0 2rem;
            width: 40rem;
        }
    }
}

@media screen and (min-width: $mq_breakpoint_xl) {
    .home-hero {
        a.down-arrow {
            bottom: 2rem;
        }

        .hero-intro {
            padding: 4rem 0;
        }
    }
}

//About page section stylings
@media screen and (min-width: $mq_breakpoint_large) {
    .page-intro.about-section {
        display: grid;
        grid-template-areas:
        "title title"
        "content picture";

        h1 {
            grid-area: title;
        }

        div {
            grid-area: content;
            margin: 4rem 2rem 6rem 6rem
        }

        figure.about-pic {
            grid-area: picture;
            margin: 4rem 6rem 6rem 2rem
        }
    }
}