@use "../../abstracts/variables/breakpoints" as breakpoints;

// Responsive headings resizing
@mixin responsive-heading($small, $medium, $large) {
	font-size: $small;

	@media screen and (min-width: breakpoints.$mq_breakpoint_medium) {
		font-size: $medium;
	}

	@media screen and (min-width: breakpoints.$mq_breakpoint_large) {
		font-size: $large;
	}
}

@mixin responsive-text($small, $medium) {
	font-size: $small;

	@media screen and (min-width: breakpoints.$mq_breakpoint_medium) {
		font-size: $medium;
	}
}

@mixin stylish-border($border-color) {
	border: .1875rem solid $border-color;
	border-radius: 0 1.5rem 0 1.5rem;
}

@mixin icon-hover-effect($border-rad, $bg-color) {
	border-radius: $border-rad;
	background-color: $bg-color;
	transition: background-color .6s;
}