@use "../../abstracts/variables/breakpoints" as *;
@use "../../abstracts/variables/colors" as *;

footer {
    display: none;
}

@media screen and (min-width: $mq_breakpoint_large) {
    footer {
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        background-color: $color_secondary;
    }

    .social-links ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        width: 100%;
    }
}