@use "../../abstracts/mixins/mixins" as *;
@use "../../abstracts/variables/colors" as *;
@use "../../abstracts/variables/typography" as *;

body {
	color: $color_dark;
	font-family: $font_main;
	line-height: $font_line-height;
}

p,
li {
	margin: .75rem 0;
	@include responsive-text(.875rem, 1rem);
}

p.hero-quote {
	font-family: $font_heading;
	font-size: 1.5rem;
}