@use "../../abstracts/mixins/mixins" as mixins;
@use "../../abstracts/variables/colors" as colors;
@use "../../abstracts/variables/typography" as typography;

body {
	color: colors.$color_dark;
	font-family: typography.$font_main;
	line-height: typography.$font_line-height;
}

p,
li {
	margin: .75rem 0;
	@include mixins.responsive-text(.875rem, 1rem);
}

p.hero-quote {
	font-family: typography.$font_heading;
	font-size: 1.5rem;
}