@use "../../abstracts/mixins/mixins" as mixins;
@use "../../abstracts/variables/colors" as colors;

.home-hero,
.featured-section .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-hero {
    position: relative;
    min-height: 100vh;

    h1 {
        margin: 8rem 0 2rem;
        color: colors.$color_secondary;
    }

    p.hero-quote {
        margin-bottom: 10rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    img.down-arrow {
        position: absolute;
        transform: translateX(-50%);
        width: 2.5rem;
    }

    .hero-intro {
        padding: 10rem 1.25rem 2.5rem;;
    }
}

.featured-section {
    background-color: colors.$color_secondary;
    color: colors.$color_primary;

    h2:not(.project-item h2),
    article.project-item:not(:last-of-type) {
        @include mixins.stylish-border-bottom(colors.$color_accent);
    }

    .project-item h2,
    p {
        color: colors.$color_light;
    }

    .project-item {
        padding: 1.5rem 0;
    }
}

